%section.alert#info_box
  %a{ :href => "#info_box", :class => "ss-icon close", :data => {:close => true}} close
  %p Standard Information Flash Message
%section.alert.success#success_box
  %a{ :href => "#success_box", :class => "ss-icon close", :data => {:close => "#success_box"}} close
  %p Success Flash Message
%section.alert.error#error_box
  %a{ :href => "#error_box", :class => "ss-icon close", :data => {:close => "#error_box"}} close
  %p Error Flash Message


