%nav.nav-global
  #nav-global-2.nav-collapse.baby-switch-content<
    %ul.nav-items.collapse><
      %li.is-active><
        %a{:href => "#Item-1"} Item 1
      %li><
        %a{:href => "#Item-2"} Item 2
      %li><
        %a{:href => "#Item-3"} Item 3

  .nav-mobile-switch.baby-only
    %a{ :href => "#nav-global-2", :data => {:switch => true, :"switch-toggle" => true} }><
      %span>< Show navigation
    %i><
    %i><
    %i><


