%ul
  %li
    %a{ :href => "#sg-target1-3", :data => { :switch => true }, :id => "eg1-2"} Switch link 1
  %li
    %a{ :href => "#sg-target2-3", :data => { :switch => true }, :id => "eg2-2"} Switch link 2
  %li
    %a{ :href => "#sg-target3-3", :data => { :switch => true }, :id => "eg3-2"} Switch link 3
%div.switch-content{:id => "sg-target1-3"} Switch content 1
%div.switch-content{:id => "sg-target2-3"} Switch content 2
%div.switch-content{:id => "sg-target3-3"} Switch content 3

