%ul
  %li
    %a{ :href =>  "#sgt-target1-3", :data => { :switch => true, :"switch-toggle" => true, :"switch-group" => "sgt-group-1"  }, :id => "eg1-2"} Switch link 1
  %li
    %a{ :href => "#sgt-target2-3", :data => { :switch => true, :"switch-toggle" => true, :"switch-group" => "sgt-group-1"  }, :id => "eg2-2"} Switch link 2
  %li
    %a{ :href => "#sgt-target3-3", :data => { :switch => true, :"switch-toggle" => true, :"switch-group" => "sgt-group-1"  }, :id => "eg3-2"} Switch link 3
%div.switch-content{:id => "sgt-target1-3"} Switch content 1
%div.switch-content{:id => "sgt-target2-3"} Switch content 2
%div.switch-content{:id => "sgt-target3-3"} Switch content 3

