h4 Image Sizes
:markdown
  Image sizes are set with a 16:9 ratio. There are 4 sizes that will be uploaded and depending on the device images will be scaled from these sizes.

%figure
  %img{src: "http://placehold.it/640x360"}
  %figcaption
    %p.secondary This is the caption!
%figure
  %img{src: "http://placehold.it/310x175"}
  %figcaption
    %p.secondary This is the caption!
%figure
  %img{src: "http://placehold.it/200x113"}
  %figcaption
    %p.secondary This is the caption!
%figure
  %img{src: "http://placehold.it/145x82"}
  
%hr