%h3#modular-scale Image sizes
:markdown
  Image sizes are set with a 16:9 ratio  
  *(please note the 1280 x 720 image below is not to scale)*
 
%figure
  %img{src: "http://placehold.it/1280x720"}
  %figcaption
    %p.secondary This is the caption!

%figure
  %img{src: "http://placehold.it/640x360"}
  %figcaption
    %p.secondary This is the caption!

%figure
  %img{src: "http://placehold.it/310x175"}
  %figcaption
    %p.secondary This is the caption!

%figure
  %img{src: "http://placehold.it/145x82"}
  %figcaption
    %p.secondary This is the caption!
