%p.standout It's a complicated case, Maude. Lotta ins. Lotta outs. And a lotta strands to keep in my head, man. Dolor sit amet, consectetur adipiscing elit praesent ac magna justo pellentesque ac lectus. I mean his wife goes out and owes money and they pee on my rug. Here's the name and number of a doctor who will look at it for you. You will receive no bill. He's a good man.
