:markdown
  RoR makes great use of [flash messages](http://guides.rubyonrails.org/action_controller_overview.html#the-flash) to give the 
  users important information as they navigate the site. 

  Within each project we **need** to have an alert for standard messages, success messages and alert messages.

  Alerts depend on the `Close` plugin.
%hr

%h3#Standard-alerts Standard Alerts
= example "modules", "alerts"
%hr
