%h3 Header Navigation
:markdown
  This is a responsive header navigation that folds down on the smallest media query.
= example "modules", "nav_header"
%hr


%h3 Footer Navigation
:markdown
  It's down there; at the bottom of the page.
= example "modules", "nav_footer"
%hr
