%p Note. @imports are very important. Need info on how to do this.

.container
  .row
    .six.column.mobile-three.tablet-two
      = render "buttons/buttons"
    .six.column.mobile-one.tablet-four
      = render "forms/vertical_form"
      = render "type/headings"
      = render "type/paragraphs"
