%p Note. @imports are very important. Need info on how to do this.
%p.small.shout My shout
%p.medium.shout My shout
%p.large.shout My shout
.container
  .row
    .six.column.mobile-three.tablet-two
      = render "buttons/buttons"
    .six.column.mobile-one.tablet-four
      = render "forms/vertical_form"
      = render "type/headings"
      = render "type/paragraphs"
