%a{:href=>"a-link", :class=>"small btn green is-active"} Active/Hover Link Button
%a{:href=>"a-link", :class=>"small btn green disabled"} Disabled Link Button
%a{:href=>"a-link", :class=>"small btn green", :disabled => true } Disabled Link Button
