%a{:href=>"a-link", :class=>"small btn"} Link Button
%a{:href=>"a-link", :class=>"small btn orange"} Link Button
%a{:href=>"a-link", :class=>"small btn blue"} Link Button
%a{:href=>"a-link", :class=>"small btn green"} Link Button
