%form
  .row
    .mother-eight.column
      .row.collapse
        .mother-six.column
          %input.prefix{:type=>"text"}
        .mother-two.column
          %input.orange.small.green.btn.suffix{:type=>"submit", :value => "Submit"}


