%a{href: "#my_link"} Text link
%br
%a.is-active{href: "#my_link"} Text link hover/active
%br
%a.prominent{href: "#my_link"} Prominent text link
%br
%a.prominent.is-active{href: "#my_link"} Prominent text link hover/active


