.row
  .mother-three.mother-push-one.column= render "js_nav"
  .mother-seven.mother-pull-one.column

    %h2 Javascript

    %hr

    %h3#close-plugin Close plugin

    %p.standout Simple plugin to close (read: remove) anything on the page.

    %h4 Usage

    :markdown
      The plugin is instantiated using the attribute `data-close`.

    %h5 data-close="selector"

    :markdown
      You can use the `data-close` attribute to set **any** jQuery selector to target the element you wish the button to close.

    :coderay
      #!haml
      %a{:href => "#", :data => {:close => "[jquery selector]"} }
      %a{:href => "#", :data => {:close => ".selector"} }
      %a{:href => "#", :data => {:close => "#selector"} }

    %h5 href="selector"

    :markdown
      You can use the `href` attribute to set a target element, by **ID only**, that you wish the button to close.

    :coderay
      #!haml
      %a{:href => "#", :data => {:close => "[jquery selector]"} }

    %hr

