.container
  .row
    .mother-eight.column
      %h1 My Title
      %p.standout Curabitur dictum ultricies leo, sit amet pretium tortor lacinia at. Duis faucibus, nisi a hendrerit dictum, lorem tellus vulputate leo, mattis tincidunt ligula tellus nec tellus.
  .row
    .mother-two.column
      My Nav
    .mother-six.column
      Stuff
