%a{:href=>"#clickyclick", :class=>"btn", :data=> {:gaevent=>"ping|ding"}}

%a{:href=>"#clickyclick", :class=>"btn2", :data=> {:gaevent=>""}}

%a{:href=>"#clickyclick", :class=>"btn3", :data=> {"gaevent-load" =>'ping|ding'}}

%form{:class=>"GAForm", :data=>{"gaevent-form"=>"ping|ding"}}
  %input{:type=>"text"}
  %input{:type=>"submit"}