.row
  .mother-three.mother-push-one.column= render "ui_nav"
  .mother-seven.mother-pull-one.column

    %h2 Forms


    %hr

    %h3.h5 location input
    = example do
      %div.location-input
        %input{:type=>"text", :placeholder=>"Location"}
        %span.ss-icon.locate locate
      %br
      %div.location-input
        %input{:type=>"text", :placeholder=>"Location"}
        %span.ss-icon.locate.is-active locate

      :coderay
        #!haml

        %div.location-input
          %input{:type=>"text", :placeholder=>"Location"}
          %span.ss-icon.locate locate

        %div.location-input
          %input{:type=>"text", :placeholder=>"Location"}
          %span.ss-icon.locate.is-active locate
      // end

    %hr

    %h3.h5 Prefixed input

    = example do
      %form
        .row
          .mother-eight.column
            .row.collapse
              .mother-eight.column
                %input.prefix{:type=>"text"}
              .mother-four.column
                %input.orange.small.btn.suffix{:type=>"submit", :value => "Submit"}


      :coderay
        #!haml

        %form
          .row
            .mother-eight.column
              .row.collapse
                .mother-eight.column
                  %input.prefix{:type=>"text"}
                .mother-four.column
                  %input.btn.suffix{:type=>"submit", :value => "Submit"}
      // end

