.row
  .mother-three.mother-push-one.column= render "ui_nav"
  .mother-seven.mother-pull-one.column

    %h2 Tabs
    
    %p.standout Some blurb about tabs.

    %h3.h5 simple tabs

    = example do
      %ul
        %li= link_to "Drop down link", "#dd_target", :data => { :toggle => true  }
      #dd_target toggle content

      :coderay
        #!haml
      
        // Example stuff
    %hr



