@charset "UTF-8";

@import "styleguide";

// ======================================================
// Settings grids
// ======================================================

$baby: 'baby-', 1, 10px, "max-width: 655px";
$sister: 'sister-', 4, 15px, "max-width: 785px";
$mother: 'mother-', 12, 20px;
// Declare grid
$grids : $mother, $sister, $baby;

// Max container width
$container-width: 980px;

// ======================================================
// Stylguide
// ======================================================

@import "styleguide/base/_all";
@import "styleguide/modules/_all-grid";
@import "styleguide/modules/_all-no-grid";


// ======================================================
// Default grids
// ======================================================

@import "styleguide/grid/_grid";


// ======================================================
// Build grid sizes
// ======================================================

@include create-column-sizes($grids);

// ======================================================
// Styleguide only styles
// ======================================================

@import 'coderay_githubish';


//
// Preview display list
//

.sg-example, .CodeRay {
  margin: $base-line-height-px 0;
}

.CodeRay {
  background-color: #F8F8F7;
  border-bottom: 3px solid $main-color;

  .line-numbers {
    margin-right: $column-gutter*2;
  }
}


hr {
  margin: $base-line-height-px*2 0 $base-line-height-px;
  height: 1px;
  border: none;
  color: mono(4);
  background-color: mono(4);
}

