/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'coderay_githubish'
 */


@import "styleguide";
@import "styleguide/base/_all";
@import "styleguide/modules/_all";


// ======================================================
// Settings grids
// ======================================================

$baby: 'baby-', 1, 10px, "max-width: 655px";
$sister: 'sister-', 4, 15px, "max-width: 785px";
$mother: 'mother-', 12, 20px;
// Declare grid
$grids : $mother, $sister, $baby;

// Max container width
$container-width: 980px;

// ======================================================
// Default grids
// ======================================================

@import "styleguide/grid/_grid";


// ======================================================
// Build grid sizes
// ======================================================

@include create-column-sizes($grids);

// ======================================================
// Styleguide only styles
// ======================================================

//
// Preview display list
//

.sg-example, .CodeRay {
  margin: $base-line-height-px 0;
}

.CodeRay {
  background-color: #F8F8F7;
  border-bottom: 10px solid mono(3);

  .line-numbers {
    margin-right: $column-gutter*2;
  }
}


hr {
  margin: $base-line-height-px*2 0 $base-line-height-px;
  height: 1px;
  border: none;
  color: mono(4);
  background-color: mono(4);
}

