@charset "UTF-8";

@import "styleguide";

// ======================================================
// Settings grids
// ======================================================

$baby: 'baby-', 2, 10px, "max-width: 655px";
$sister: 'sister-', 4, 15px, "max-width: 785px";
$mother: 'mother-', 8, 20px;
// Declare grid
$grids : $mother, $sister, $baby;

// Max container width
$container-width: 800px;

// Module scale
$baseFontSize: 14px !default;
$importantModNum: 300px !default;
$base-size: $baseFontSize $importantModNum;

$base-font-family: "Helvetica Neue", helvetica, arial, sans-serif !default;
$base-line-height: 1.57;
$base-line-height-px: 22px;


$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$header-font-weight: bold !default;
$header-font-color: #222 !default;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$body-font-weight: normal !default;
$body-font-color: $txt-color !default;

// ======================================================
// Stylguide
// ======================================================

@import "styleguide/base/_all";
@import "styleguide/modules/_all-grid";
@import "styleguide/modules/_all-no-grid";


// ======================================================
// Default grids
// ======================================================

@import "styleguide/grid/_grid";


// ======================================================
// Build grid sizes
// ======================================================

@include create-column-sizes($grids);

// ======================================================
// Site Base Styles
// ======================================================

@import 'base/all';


// ======================================================
// Site modules
// ======================================================

@import 'modules/coderay';
@import 'modules/webfont_table';
@import 'modules/layout_examples';



